<footer class="py-4 px-6 mt-auto" style="background-color: #d6b0ba;">
    <div class="mx-auto max-w-5xl px-6 py-16 sm:px-6 lg:px-8">
      <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
        <li><a class="text-2xl text-white transition hover:text-white/75" href="#">お知らせ</a></li>
        <li><a class="text-2xl text-white transition hover:text-white/75" href="#">お問い合わせ</a></li>
        <li><a class="text-2xl text-white transition hover:text-white/75" href="#">利用規約</a></li>
        <li><a class="text-2xl text-white transition hover:text-white/75" href="#">プライバシーポリシー</a></li>
      </ul>

      <aside class="flex items-center text-base justify-center py-8 text-white">
        <p class="text-2xl mt-4">Copyright © 2024 - Korean Trip</p>
      </aside>
    </div>
  </footer>