<footer class="py-2 px-4 mt-auto bg-custom-beige">
    <div class="mx-auto max-w-5xl px-6 py-4 sm:px-6 lg:px-8">
      <ul class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
        <li><a class="text-1xl text-custom-brown transition hover:text-custom-orange" href="#">お知らせ</a></li>
        <li><a class="text-1xl text-custom-brown transition hover:text-custom-orange" href="#">お問い合わせ</a></li>
        <li><a class="text-1xl text-custom-brown transition hover:text-custom-orange" href="#">利用規約</a></li>
        <li><a class="text-1xl text-custom-brown transition hover:text-custom-orange" href="#">プライバシーポリシー</a></li>
      </ul>

      <aside class="flex items-center text-base justify-center py-8 text-custom-brown">
        <p class="text-1xl mt-4">Copyright © 2024 - Korean Trip</p>
      </aside>
    </div>
  </footer>